
@media (max-width: 1000px) {
    .navigation-wrapper {
        flex-direction: column;
        height: 100%;
    }

    .navigation-wrapper > .left-column {
        /* override the order of the element using flexbox to show below the logo */
        order: 2;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .navigation-wrapper > .center-column {
        order: 1;
        width: 100%;
    }

    .navigation-wrapper > .right-column {
        order: 3;
        margin-top: 15px;
    }

    .nav-links {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .nav-links > .nav-link {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}